.embedMargin-2PsaQ4 {
  margin-top: 8px;
}

.embed input, 
.embed textarea {
  color: #fff;
  width: 100%;
  background: none;
  border: none;
}
.embed input:focus-visible,
.embed textarea:focus-visible {
  outline: none;
  border: none;
}

/* Discord Embed */
.embed {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 520px;
  color: #fff;
  background-color: #2f3136;
  padding: 8px 16px 16px 12px;
  border-left: 4px solid #000000;
  border-radius: 4px;
  user-select: none;
}

.embed a {
  color: #fff;
  text-decoration: none;
}
.embed a:hover {
  text-decoration: underline;
}

.embed .embed-thumb {
  height: 80px;
  width: 80px;
  border-radius: 3px;
  flex-shrink: 0;
  object-fit: contain;
  margin-left: 15px;
  background-color: black;
  position: relative;
}
.embed .embed-thumb::before {
  content: '';
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 70px;
  height: 70px;
  border: 2px dashed darkblue;
}
.embed .embed-thumb img {
  max-height: 80px;
  max-width: 80px;
  border-radius: 3px;
  flex-shrink: 0;
  width: auto;
  object-fit: contain;
  margin-left: 15px;
}

.embed .e-bdFBtt {
  width: 100%
}

.embed .author {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.embed .author .icon {
  width: 26px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  /* background-color: black; */
}

.embed .title {
  font-size: 16px;
  font-weight: 600;
}
.embed .title a {
  color: #00b0f4;
  font-weight: 600;
}

.embed .desc {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.embed .fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
}
.embed .fields .field {
  flex: 0;
  /* padding-top: 10px; */
  max-width: 506px;
  min-width: 100%;
}
.embed .fields .field.inline {
  flex: 1;
  min-width: 135px;
  flex-basis: min-content;
}
.embed .fields .field .name {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2px;
}
.embed .fields .field .value {
  color: #dcddde;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  word-break: break-all;
  min-width: 0px;
}

.embed .embed-img {
  margin-top: 16px;
  max-width: 100%;
  position: relative;
}
.embed .embed-img .image {
  height: 200px;
  background-color: #000;
}
.embed .embed-img .img {
  content: '';
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 97%;
  height: 190px;
  border: 2px dashed darkblue;
  border-radius: 4px;
}
.embed .embed-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 4px;
}

.embed .foter {
  display: flex;
  align-items: center;
  color: #72767d;
  font-size: 12px;
  margin-top: 8px
}

.embed .foter .icon {
  position: relative;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 50%;
  /* background-color: #000; */
}