<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plugin - Moderation | BobCat Bot</title>
  {% include 'include/links.html' %}
</head>
<body class="web-plugin">
  {% include 'components/Navbar.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero-plugin" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center justify-content-center">      
      <h1>The Best Moderation Bot For Discord</h1>
      <h3>BobCat Can Take Care Of Everthing By Doing All The Work For You.</h3> 
    </div>
  </section><!-- End Hero -->

  <main id="main">
    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ url_for('static', filename='img/features/5.png') }}" class="img-fluid" alt="">
          </div>
        
          <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
            <h3>Keep Your Server(s) Safe & Clean With Our High-Quality Auto-Mod System.</h3>
            <p class="fst-italic" style="color: #939399">
              No One Likes Their Server(s) Spammed Or Destroyed By Trolles? Well You Don’t Have To Worry Anymore!
              <br>
              Setup Auto-Mod For Your Server(s) Today! And Let BobCat Do Is Work By Protecting Your Server(s) Even When You’re Sleeping.
            </p>
            
            <ul style="color: #939399">
              <li><i class="bi bi-check"></i> You Will Be 99% Less Worried Leaving Your Server(s) Alone Over Night Or When Your Away.</li>
              <li><i class="bi bi-check"></i> BobCat Is always Actively Scaning Your Channels 24/7.</li>
              <li><i class="bi bi-check"></i> By Setting BobCats Role To The Highest Level, You Are Guaranteed Safer Server's All Day Long.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">
        
        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename='img/features/6.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Fight Back With Auto Mod Like Filters And Remove Unwanted People From Your Server(s).</h3>
            <p style="color: #939399" class="fst-italic">
              Protect Your Server(s) From Unwanted Or Bad Links Within Channels. Plus Get more Out Of BobCat's Auto Mod Filters Within Our 
              <a href="https://dashboard.bobcatbot.xyz" target="_blank">Dashboard</a>.
            </p>
            <ul style="color: #939399">
              <li><i class="bi bi-star-fill"></i> Block Out Unwanted Links, Images or Words Within Your Server(s)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And Feel Fresh All round Your Channels!</li>
              <li><i class="bi bi-star-fill"></i> Sit Back And Relex As BobCat Seeks Though All Channels Spotting For Unwated Material(s).</li>
              <li><i class="bi bi-star-fill"></i> Allow BobCat To Timeout Members Up to "1 Week" After Sending Unwanted Material Within Your
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Server(s).</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">
        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{{ url_for('static', filename='img/features/7.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Keep A Track Of Important Events Happening Around Your Server(s).</h3>
            <p style="color: #939399"  class="fst-italic">Choose A Private Channel Where BobCat Will Notify Mod's Whether Someone Updates / Deletes Messages In Any Channel Around Your Server(s).</p>
            <ul style="color: #939399">
              <li><i class="bi bi-check"></i> BobCat Will Notify All Mods In The Server(s).</li>
              <li><i class="bi bi-check"></i> Keeps All Log Message's Separate And Hidden From Members.</li>
              <li><i class="bi bi-check"></i> When Somthing Within your Server(s) Changes BobCat Will Know.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">
        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename='img/features/8.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Boost Your Moderator's Productivity.</h3>
            <p style="color: #939399" class="fst-italic">
              Give Your Moderator's The Right Tool's To Keep Your Server(s) Safe With BobCat's Mod Commands.
              <br>All Mod's Have Access To Over 20+ Pre-Made Commands To Control Your Server(s).
            </p>
            <ul style="color: #939399">
              <li><i class="bi bi-star-fill"></i> Help Your Server(s) Be At It's Best With Mod Commands Such As Ban, Mute, Warn Plus Lot's More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You Can <a href="https://docs.bobcatbot.xyz/moderation/" target="_blank">Discover.</a></li>
              <li><i class="bi bi-star-fill"></i> Allow Mod's To Annouce Messages With BobCat With A Simple Command.</li>
              <li><i class="bi bi-star-fill"></i> Get To Know Your Limits By Hosting Polls, Echo Messages, Create Emojis.</li>             
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Welcome Section ======= -->
    <section id="welcome" class="" data-aos="fade-up">
      <div class="container">
        <div class="section-title">
          <h2>Welcome your new members</h2>
          <p>
            Take avantage of the welcome message to inform new members about your server rules, topic, or ongoing events. 
            <br>You can design your own welcome messages or keep it simple all within our dashboard.
          </p>
        </div>
        <div class="d-flex justify-content-center" data-aos="fade-left">
          <img src="{{ url_for('static', filename='img/features/1.png') }}" class="img-fluid image" alt="">
        </div>
      </div>
      <style>
        .image {
          width: 50%;
        }
        @media (max-width: 992px) {
          .image {
            width: 100%;
          }
        }
      </style>
    </section>

  </main>

  {% include 'components/footer.html' %}
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
</html>