<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home | BobCat Bot</title>
  {% include 'include/links.html' %}
</head>
<body>
  {% include 'components/Navbar.html' %}
  <!-- Start of Script -->
  <script> const fsWidgetConfig = {id: "5c293f78-e448-4924-9d23-9bae1112e996"}; </script>
  <script type="module" src="https://cdn.freshstatus.io/widget/index.js"></script>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div class="toast-container p-3 position-fixed bottom-0 start-50 translate-middle-x">
      {% for category, message in messages %} 
        <div id="ToastBS" class="toast" role="alert" data-cate="{{category}}">
          <div class="toast-header d-flex justify-content-between align-items-center">
            <strong id="cate" class="text-capitalize">{{category}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            <p class="m-0">{{message}}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  
  <div id="changelog" class="changelog">
		<div class="modal fade show" id="changelogModal" tabindex="-1" style="--bs-modal-bg: #36393F;">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header" style="display: block;">
						<h1 id="modalTitle" class="modal-title text-uppercase fs-5"></h1>
						<p id="modalTitleDate" class="m-0 text-uppercase"></p>
					</div>
					<div class="modal-body">
						<div id="modalbody-info" class="info mb-3"></div>

						<div class="additions mb-3">
							<h1 class="d-flex align-items-center gap-1 text-uppercase"
								style="font-size: 18px;color: rgb(87, 242, 135);">
								<div class="d-flex align-items-center gap-1 flex-grow">
									<i class="bi bi-plus-circle-fill" style="font-size: 24px;color: rgb(87, 242, 135);"></i>
									Additions
								</div>
								<div class="w-100" style="background-color: rgb(87, 242, 135); height: 1px;"></div>
							</h1>
							<ul id="added-list"></ul>
						</div>
						<div class="updates mb-3">
							<h1 class="d-flex align-items-center gap-1 text-uppercase"
								style="font-size: 18px;color: rgb(254, 231, 92);">
								<div class="d-flex align-items-center gap-1 flex-grow">
									<i class="bi bi-cloud-fill" style="font-size: 24px;color: rgb(254, 231, 92);"></i>
									Updates
								</div>
								<div class="w-100" style="background-color: rgb(254, 231, 92); height: 1px;"></div>
							</h1>
							<ul id="updates-list"></ul>
						</div>
						<div class="bugs">
							<h1 class="d-flex align-items-center gap-1 text-uppercase"
								style="font-size: 18px;color: rgb(237, 66, 69);">
								<div class="d-flex align-items-center gap-1 flex-grow">
									<i class="bi bi-bug" style="font-size: 24px;color: rgb(237, 66, 69);"></i>
									Bugs
								</div>
								<div class="w-100" style="background-color: rgb(237, 66, 69); height: 1px;"></div>
							</h1>
							<ul id="bugs-list"></ul>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="myBtn" data-bs-dismiss="modal">Got It</button>
					</div>
				</div>
			</div>
		</div>
	</div>
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <img id="hero-image" src="{{ url_for('static', filename='img/bobcat.png') }}" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
      <h1>Build The Best Discord Server With BobCat!</h1>
      <h2>Configure Moderation, Leveling, Welcoming <br> Plus So Much More With A Easy-To-Use Dashboard!</h2>
      <div class="d-flex">
        <a style="cursor: pointer;" class="btn-get-started" target="popup"
          onclick="window.open('https://discord.com/api/oauth2/authorize?client_id=961762686671155240&permissions=1644905889015&scope=bot%20applications.commands', 'Invite | Bobat Inc', 'width=487,height=805')">
          Add to Discord
        </a>
        <a class="btn-get-started" href="#about">Learn More</a>
      </div>
    </div>
  </section>
  
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>What's Up With BobCat?<br> Learn Everything You Need To Know About Him.</h3>
              <p>
                BobCat Is More Than Just A Discord Bot, He Is Like A Family Member To Each Server He Is In! BobCat Bring's Happiness Not Just Servers, But Also your Face Because You Know You Are Safe 24/7!</p>
              <a style="cursor: pointer;" class="about-btn"><i>#</i> Team BobCat</a>
            </div>
          </div>
        
          <div class="col-xl-7 d-flex align-items-stretch" data-aos="fade-left">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-cpu-fill"></i>
                  <h4>Features.</h4>
                  <p>We Have A 'Auto Hacker' Detecter Within BobCat's Code Which Alerts You When A Problem Apper's In Your Server(s).</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-check-circle-fill"></i>
                  <h4>Online 24/7.</h4>
                  <p>Our Goal Is To Keep BobCat Online As Long As Possible, To Keeps Every Server Happy.</p>
                  <p>We keep BobCat Updated To Our Best, To Fit In For Everyones Needs / Accessibility.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-chat-square-dots-fill"></i>
                  <h4>Dashboard.</h4>
                  <p>Connect With Our Dashboard And Enhance Your Server(s) To It's Max Potential!</p>
                </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="shop" class="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h1 style="color:white"><b>NEW</b></h1>
            <h3>Shop With BobCat!</h3>
            <p>Discover All Of Products Based Around BobCat, Feel Free To Take Look. 
            <br></br>
            <img src="{{ url_for('static', filename='img/english.png') }}">
            UK SHIPPING ONLY
            <img src="{{ url_for('static', filename='img/english.png') }}"></p>
            <a class="button" href="https://shop.bobcatbot.xyz/" target="_blank">Browse products</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ url_for('static', filename='img/features/1.png') }}" class="img-fluid" alt="">
          </div>
        
          <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
            <h3>Say Hello To New Users On Your Discord Server!</h3>
            <p class="fst-italic" style="color: #939399">
              Take Avantage Of The Welcome Message To Inform New Members About Your Server Rules, Topic, Or Ongoing Events. 
              You Can Design Your Own Welcome Messages Or Keep It Simple All Within Our Dashboard.
            </p>
            
            <ul style="color: #939399">
              <li><i class="bi bi-check"></i> Enable / Disable The welcome Feature In The Dashbaord.</li>
              <li><i class="bi bi-check"></i> Make Everything Neat, By Telling BobCat Witch Channel Is For New-Comers.</li>
              <li><i class="bi bi-check"></i> Customise Your Message From BobCat For When A New Member Joins.</li>

              <a class="learn-more" href="/plugins/management.html#welcome" >More About Welcoming</a>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">
        
        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename='img/features/2.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Level's and XP In Your Server(s).</h3>
            <p style="color: #939399" class="fst-italic">
              Use Our Leveling System To Identify And Reward Your Most Active Members Of Your Server(s) / Community. 
              Let Your Members Show Off A Cool Rank Card And Compete For The Mighty First Place Spot Of Your Leaderboard!
            </p>
            <ul style="color: #939399">
              <li><i class="bi bi-star-fill"></i> Have The Highest Rank / Level / Point's On Your Server(s).</li>
              <li><i class="bi bi-star-fill"></i> Compete Against Other Members, And Become The Ultimate 'Level Boss' Of The Server.</li>
              <li><i class="bi bi-star-fill"></i> With Our Leveling System You Have The Power To Customise The Leveling / Rank Cards.</li>

              <a class="learn-more" href="/plugins/engagement-and-fun.html#levelling" >More about levelling</a>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{{ url_for('static', filename='img/features/3.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Customize the Look's Of BobCat In Your Server(s).</h3>
            <p style="color: #939399"  class="fst-italic">Find A Way Make Your Discord Server(s) Your Own! Were You Can Change The Color Of BobCat, 
              How Cool Is That? Head Over To The Dashboard And Give It A Go.
            </p>
            <ul style="color: #939399">
              <li><i class="bi bi-check"></i> Personilsed To Your Own Ability.</li>
              <li><i class="bi bi-check"></i> Uniqe To Every Other Server(s) Out There.</li>
              <li><i class="bi bi-check"></i> Fits In With Your Color Scheme Throughout Your Whole Server(s).</li>

              <a class="learn-more" href="/plugins/utilities.html#appearance">More about appearance</a>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">
        
        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename='img/features/4.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>User Engagement With Server's (Starboard).</h3>
            <p style="color: #939399" class="fst-italic">
              Use Our Starboard System To Show Off The Funniest Joke's Of All Time!
            </p>
            <ul style="color: #939399">
              <li><i class="bi bi-star-fill"></i> Start With Laughs & Gag's At All Your Funny jokes With Your Friend's.</li>
              <li><i class="bi bi-star-fill"></i> Have A Designated Channel For All Your Fun.</li>
              <li><i class="bi bi-star-fill"></i> Be A Master At Jokes With BobCat By Unleashing All The Cracking, Funny, Amazing, Cool Jokes.</li>

              <a class="learn-more" href="/plugins/engagement-and-fun#engagement">More about engagemnt</a>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="plugins" class="services">
      <div class="container" data-aos="fade-up">
          
        <div class="section-title">
          <h2>Plugins</h2>
          <p style="color: #939399">BobCats Plug-ins Are Awsome! From Easy-To-Use Interaction's Within The  Dashboard & Discord It's Self.</p>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-wrench-adjustable"></i><br></br></div>
              <h4 class="title">Moderation & Management</h4>
              <p class="description">BobCat can take care of everything From welcoming new users to auto-kicking members out of your server.</p>
              <a class="learn-more-btn" href="/plugins/management.html">Learn more</a>
            </div>
          </div>
        
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-check-fill"></i><br></br></div>
              <h4 class="title"><a href="">BobCat Utilities</a></h4>
              <p class="description">Sometimes all you need is a small & handy utility for your server.</p>
              <a class="learn-more-btn" href="/plugins/utilities.html">Learn more</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-balloon-fill"></i><br></br></div>
              <h4 class="title"><a href="">Engagement & Fun</a></h4>
              <p class="description">Things are always better with your friends.</p>
              <a class="learn-more-btn" href="/plugins/engagement-and-fun.html">Learn more</a>
            </div>
          </div>

      </div>
    </section><!-- End Services Section -->
    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Team</h2>
          <p style="color: #939399">Meet Our Team Who Have There Own Special Skill's Within Working With BobCat.</p>
        </div>

        <div id="content-desktop">
          <div class="row" style="justify-content: center;">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              
              <div class="member">
                <img src="{{ url_for('static', filename='img/team/team-1.png') }}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>BananaBobs2004</h4>
                    <span>CEO / Founder / Core Web Developer</span>
                  </div>
                  <div class="social">
                    <a href="https://solo.to/bobbyjackstott" target="_blank"><i class="bi bi-discord"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <img src="{{ url_for('static', filename='img/team/team-2.png') }}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>DinoTech</h4>
                    <span>CO-CEO / Core Developer</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="content-mobile">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            
            <div class="carousel-inner">
              <div class="member carousel-item active">
                <img src="{{ url_for('static', filename='img/team/team-1.png') }}" class="d-block w-100" alt="">
                <div class="carousel-caption position-static">
                  <h5>BananaBobs2004</h5>
                  <p>CEO / Founder / Lead Web Developer</p>
                </div>
              </div>
              <div class="member carousel-item">
                <img src="{{ url_for('static', filename='img/team/team-2.png') }}" class="d-block w-100" alt="">
                <div class="carousel-caption position-static">
                  <h5>DinoTech</h5>
                  <p>CO-CEO / Lead Bot Developer</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->
  
    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- https://www.docs.bobcatbot.xyz/home/faq: 04+05 are good faq-->
    <!-- Pascal Casing -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">
          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Is your bots code open source? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p style="color: #ffffff">
                No, the code isnt open source.
              </p>
            </div>
          </li>
          
          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What do we use for the bot? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p style="color: #ffffff">
                We currently are using python and the pycord library.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How do we host the bots? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p style="color: #ffffff">
                We currently use a self made server that uses Pterodactyl Software. 
                Proudly provide by <a href="https://rabbit-hosting.com/discordbot" target="_blank">Rabbit Hosting</a>
              </p>
            </div>
          </li>
          
          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Why arent the moderation commands slash commands? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p style="color: #ffffff">
                1. This is because of the discord built-in moderation slash commands
                <br>2. These will take up more slots and make the list larger then it has
                <br>3. The demand for bobcat moderation slash commands is not larger enough for them to go to slash
              </p>
            </div>
          </li>
        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  {% include 'components/footer.html' %}
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
</html>