<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zenora</title>
		<script src="https://cdn.tailwindcss.com"></script>

    <link href="{{ url_for('static', filename='css/dropdown.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
	</head>
	<body class="m-2.5">
    <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png" alt="">
    <br>
    <div class="select-wrapper single">
      <div class="select">
        <div class="select-selected chip">Select an option</div>
        <div class="select-options">
          {% for channel in channels.text_channels %}
            <div class="option" data-type="channel" data-id="{{channel.id}}">{{channel.name}}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script>
      var singleSelect = new Select('.select-wrapper.single', {
        placeholder: "Add a option",
        type: 'channel',
        multiple: false,
        maxItems: 1,
        options: ['1']
      });
    </script>
    <div class="select-wrapper multi" style="margin-top: 10px;">
      <div class="select flex justify-between align-center">
        <div>
          <div class="select-selected">Select an option</div>
          <div class="select-options">
            {% for channel in channels.text_channels %}
              <div class="option" data-type="channel" data-id="{{channel.id}}">{{channel.name}}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script>
      var tag = new Select('.select-wrapper.multi', {
        placeholder: "Add a option",
        type: 'channel',
        multiple: true,
        clearAll: true,
        removeBtn: true,
        maxItems: 3,
        options: ['1', '2']
      });
    </script>
    
    <div class="mt-4">
      <label id="listbox-label" class="block text-sm font-medium leading-6 text-gray-900">Channel Selector</label>
      <div class="relative mt-2">
        <button id="channel-select-btn" type="button" class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="flex items-center">
            <span class="ml-3 block truncate">Select a channel</span>
          </span>
          <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
        
        <ul id="channel-select" class="hidden absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
          {% for channel in channels.text_channels %}
            <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" role="option" data-channel-id="{{channel.id}}">
              <span class="font-normal ml-3 block truncate"># {{channel.name}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <script>
        document.querySelector("#channel-select-btn").addEventListener("click", (e) => {
          var channelSelect = document.querySelector("#channel-select")
          channelSelect.classList.toggle("hidden")
        })
      </script>
    </div>
    
    <div class="mt-4">
      <label id="listbox-label" class="block text-sm font-medium leading-6 text-gray-900">Channel Selector</label>
      <div class="relative mt-2">
        <button id="cat-select-btn" type="button" class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="flex items-center">
            <span class="ml-3 block truncate">Select a category</span>
          </span>
          <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
        
        <ul id="cat-select" class="hidden absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
          {% for channel in channels.categories %}
            <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" role="option" data-channel-id="{{channel.id}}">
              <span class="font-normal ml-3 block truncate">{{channel.name}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <script>
        document.querySelector("#cat-select-btn").addEventListener("click", (e) => {
          var channelSelect = document.querySelector("#cat-select")
          channelSelect.classList.toggle("hidden")
        })
      </script>
    </div>
    
    <div class="mt-4">
      <label class="block text-sm font-medium leading-6 text-gray-900">Role Selector</label>
      <div class="relative mt-2">
        <button id="role-select-btn" type="button" class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="flex items-center">
            <span class="ml-3 block truncate">Select a role</span>
          </span>
          <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
        
        <ul id="role-select" class="hidden absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
          {% for role in roles %}
          <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" role="option" data-role-id="{{role.id}}">
            <div class="flex items-center">
              <span class="font-normal ml-3 block truncate" style="color: {{role.color}}">{{role.name}}</span>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <script>
        document.querySelector("#role-select-btn").addEventListener("click", (e) => {
          var roleSelect = document.querySelector("#role-select")
          roleSelect.classList.toggle("hidden")
        })
      </script>
    </div>

	</body>
</html>